body {
    background-color: #1F1926;
    margin: 0;
    padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
}

.tiles {
    margin: 3rem auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 12.5rem);
    gap: 1rem;
}

.card-container {
    position: relative; /*reference point for the child elements -the images-*/
    width: 12.5rem;
    height: 12.5rem;
    perspective: 1000px; /*gives a 3d space effect*/
}

.card-image {
    max-width: 100%;
    cursor: pointer;
    position: absolute; /*to layer the cards one on top of the other */
    backface-visibility: hidden; /* to hide the frontside when not clicked */
    transition: transform 0.6s; /*to make the transformation (flip) smooth over 0.6 seconds */
}

.frontside {
    transform: rotateY(180deg); /*default: the front side of the card is hidden as it is aligned with the Y axis*/
}

.backside {
    transform: rotateY(0deg); /*default: the back side of the card is visible*/
}

.card-container.flipped .frontside {
    transform: rotateY(0deg); 
}

.card-container.flipped .backside {
    transform: rotateY(-180deg);
}
